nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px
    0 rgba(0,0,0,0.2);
}

nav svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
}nav svg:hover{
    color: var(--col1);
}
nav .s1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
nav .s1 .h1{
    position: relative;
    justify-content:start;
    margin-left: 0px;
}
nav .searchbar{
    width: 800px;
    display: flex;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    justify-content: space-between;
}

nav .searchbar input{
    color: transparent;
    border: none;
    outline: none;
    width: 100%;
}
nav .searchbar svg{
    color: var(--col1);
}
nav .searchbar button{
    border: none;background-color: transparent;
    cursor: pointer;
}
nav .s2 .right{
    display: flex;
    justify-content: space-between; gap: 10px;
    align-items: center;
}
nav.cart{

    position: relative;
    margin: 0px 20px;
}
nav .s2 User{
    display: flex;
    justify-content: space-between;gap: 10px;
    align-items: center;
}
nav.User{
    position: relative;
    margin: 0px 20px;
}
nav .s3{
    margin-top: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5px;
    gap: 4.5%;
}
nav .s3 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

nav .s3 a:hover{
    color: var(--col1);
}

nav .cart .qty{
    background-color: var(--col1);
    color: white;
    border-radius: 50%;
    /*padding: 5px;*/
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
